.loginform {
    .btn-all {
        color: white;
        width: 90%;
        max-width: 300px;
        padding: 10px;
        border-radius: 5px;
        margin: 5px 0px;
        font-weight: 600;
    }

    .facebook-btn { background-color: #3b5998; }
    .google-btn { background-color: #DB4437;}
    .twitter-btn { background-color: #1DA1F2; }
    .instagram-btn { background-color: #C13584; }

    .inputbox {
        width: 90%;
        max-width: 300px;

        .input_text {
            outline: none;
            margin: 5px 0px;
            padding: 5px;
            border: 1px solid gray;
            border-radius: 5px;
            background-color: transparent;
        }
    }

    .login_btn {
        width: 90%;
        max-width: 300px;
        background-color: transparent;
        border: 1px solid black;
        padding: 5px;
        margin: 10px 0px;
        border-radius: 5px;
        font-weight: 600;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.2);
        }
    }

    .not_account {
        width: 90%;
        max-width: 300px;
        font-size: 13px;
        display: flex;
        justify-content: space-between;

        button {
            background-color: transparent;
            border: 0;
        }
    }

    hr {
        width: 90%;
        max-width: 300px;
        height: 2px;
        background-color: black;
    }
    .or_text {
        // background-color: white;
        padding: 5px;
        position: absolute;
    }
}